@font-face {
  font-family: "Nekst";
  src: local("Nekst"), url("/public/assets/fonts/Nekst-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("/public/assets/fonts/Helvetica.ttf") format("truetype");
}
